*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
:root{
    --bg-grey : rgb(234,234,234);
    --bg-green : rgb(0,150,136);
    --bg-white : rgb(255,255,255);
    --bg-grey-deep : rgb(219,219,211);
    --txt-color-grey : rgb(177,177,177);
    --bg-light-blue : rgb(142,218,252);
    --bg-light-grey : rgb(250,250,250); 
}
.bg-color-grey{
    background-color: var(--bg-grey-deep);
}
.green-band{
    width: 100%;
    height: 140px;
    background-color: var(--bg-green);
    z-index: -1;
}

.my-row-container{
    height: 93vh;
    background-color: var(--bg-white);
}
.my-head-row{
    background-color: var(--bg-grey);
    height: 60px;
}
.img-cont{
    height: 40px;
    width: 40px;
}
.my-txt-color-icon{
    color: var(--txt-color-grey);
}
.my-txt-color-icon > :hover,
.my-txt-color-icon-chat :hover {
    cursor: pointer;
    color: var(--bg-green);
    transition: color 0.5s;
}
.my-banner{
    background-color: var(--bg-light-blue);
    height: 75px;
}
.my-cursor :hover{
    cursor: pointer;
}
.bell-container{
    background-color: var(--bg-white);
    color: var(--bg-light-blue);
    border-radius: 50%;
    font-size: 1.2rem;
}
.my-txt-size{
    font-size: 0.7rem;
    opacity: 0.6;
}
.my-input-container{
    background-color: var(--bg-light-grey);
}
.my-input{
    padding-left: 4vw;
}
.my-input-style{
    width: 100%;
    border: none;
}
.my-search{
    left: 1.5rem;
    top: 20%;
}
.my-overflow{
    overflow-y: scroll;
}
.my-height-name{
    height: calc(93vh - 60px - 75px - 40px);
}
.my-card{
    height: 83px;
}
.txt-cont{
    line-height: 1;
}
.chat-container{
    height: calc(93vh - 120px);
    background-image: url("../img/mine.jpg");
}
.active{
    background-color: rgb(233,235,235);
}
.my-footer-chat{
    background-color: rgb(243,238,234);
    height: 60px;
}
.my-txt-color-icon-chat{
    color: rgb(107,115,118);
}
.my-chat-style{
    width: 100%;
    border: 0;
    height: 35px;
    border-radius: 5px;
}